body {
   background-color: rgb(38, 126, 203);
}
h1 {
    color:#ffff
}
h2 {
    color: #ffff;
}
h3 {
    color: #ffff;
    margin-top: 10px;
}
p {
    color: #ffff;
}
tr {
    
}
img {
    background-size: 100px;
}