@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans styling */

body {
    background-image: url("./bilder/calum-lewis-rkT_TG5NKF8-unsplash.jpg");
}
div {
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: blanchedalmond;
    padding: 40px;
    border-radius: 20px;
    border: 5px solid burlywood;
    color: rgb(89, 56, 16);
    font-family: "Handlee", cursive;

}


/* Rubrikernas utseende */
h1 {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 15px;
}

/* Innehållet utseende */

img{
    width: 200px;
}
p {
    margin-bottom: 10px;
}
ul {
    margin-bottom: 10px;
    margin-left: 15px;
    list-style-type: circle;
}
li {

}